* {
    padding: 0;
    box-sizing: border-box;
    background-image: url(../calculator/img/annie-spratt-6a3nqQ1YwBw-unsplash.jpg);
    color: white
}


.container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    min-height: 600px;
}

.screen{
    text-align: right;
}

#previous-input-text {
    border: 1px solid red;
    min-width: 400px;
    min-height: 75px;
}

#current-input-text {
    border: 1px solid blue;
    min-width: 400px;
    min-height: 100px;
}

.button-grid {
    border: 1px solid green;
    min-height: 425px;
    /* display: grid; */
}