body {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw; 
    height: 100vh;
}

.previous-screen {
    border: 1px solid red;
    height: 20px;
}

.current-screen {
    border: 1px solid blue;
    height: 50px;
}