* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../calculator/img/annie-spratt-6a3nqQ1YwBw-unsplash.jpg);
    color: white
}


.calculator {
    display: grid; 
    border-radius: 20px;
    padding: 16px;
    grid-template-columns: repeat(4,66px);
}

.screen{
    grid-column: span 4;
    text-align: right;
}

#previous-input-text {
    border: 1px solid red;
    height: 20px;
}

#current-input-text {
    border: 1px solid blue;
    height: 50px;
}